certifi==2022.12.7
chardet==4.0.0
html5lib==1.1
html5lib-truncation==0.1.0
idna==2.10
isodate==0.6.0
jinja2==3.0.3
markdown2==2.4.0
MarkupSafe==2.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
rdflib==5.0.0
requests==2.25.1
six==1.16.0
urllib3==1.26.5
webencodings==0.5.1