{% extends "base.html" %}
<!-- Main page body -->
{% block body_contents %}
<div id="page" class="{{render_item.itemId}}">
    <!-- Page description (LHS block) -->
    {% include 'page-description.html' %}
    <!-- Page items (LHS block) -->
    <div>
        {% if featured_items %}
        <div class="page-section">
            <h2 class="page-subheading">Featured articles</h2>
            <div class="page-items featured-grid">
                {% if posts %} {% for post in featured_items %} {% with loop_index = loop.index %} {% include
                'card.html' %} {% endwith %} {% endfor %} {% endif %}
            </div>
        </div>
        {% endif %}
        <!-- hacks -->
        {% if is_main_page %}
        <div class="page-section">
            <h2 class="page-subheading">Dream Network Issues</h2>
            <div class="page-items main-grid">
                {% if posts %} {% for post in posts %} {% with loop_index = loop.index %} {% include 'card.html' %} {%
                endwith %} {% endfor %} {% endif %}
            </div>
        </div>
        {% else %}
        <div class="page-section">
            <div class="type-toggle-pill-area">
                <button class="tag type-toggle-pill active hasTag" onclick="showArticles('hasTag')">
                    Articles by {{render_item.name}}
                </button>
                <button class="tag type-toggle-pill hasTopic" onclick="showArticles('hasTopic')">
                    Articles about {{render_item.name}}
                </button>
            </div>
            <div class="page-items main-grid">
                {% if posts %} {% for post in posts %} {% with loop_index = loop.index %}
                <div
                    id="{{post.itemId}}"
                    class="card item-card thumb-card grid-item hasTag show"
                    onclick="window.location.href = '../{{post.card_link}}'"
                    style="transform: translate3d(0px, {{(loop_index -1) * 500}}px, 0px);"
                >
                    {% include 'card.html' %}
                </div>
                {% endwith %} {% endfor %} {% endif %}
                <!-- Posts about the thing -->
                {% if topicPosts %} {% for post in topicPosts %} {% with loop_index = loop.index %}
                <div
                    id="{{post.itemId}}"
                    class="card item-card thumb-card grid-item hasTopic hide"
                    onclick="window.location.href = '../{{post.card_link}}'"
                    style="transform: translate3d(0px, {{(loop_index -1) * 500}}px, 0px);"
                >
                    {% include 'card.html' %}
                </div>
                {% endwith %} {% endfor %} {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
