{% extends "base.html" %}
<!-- Main page body -->
{% block body_contents %}
<div id="page" class="{{render_item.itemId}}">
    <!-- Page description (LHS block) -->
    {% include 'page-description.html' %}
    <!-- Page items (LHS block) -->
    <div>
        {% if featured_items %}
        <div class="page-section">
            <h2 class="page-subheading">Recent & featured articles</h2>
            <div class="page-items featured-grid">
                {% if posts %} {% for post in featured_items %} {% with loop_index = loop.index %} {% include
                'card.html' %} {% endwith %} {% endfor %} {% endif %}
            </div>
        </div>
        {% endif %}
        <!-- hacks -->
        {% if is_main_page %}
        <div class="page-section">
            <h2 class="page-subheading">Dream Network Issues</h2>
            <div class="page-items main-grid">
                {% if posts %} {% for post in posts %} {% with loop_index = loop.index %} {% include 'card.html' %} {%
                endwith %} {% endfor %} {% endif %}
            </div>
        </div>
        {% else %}
        <div class="page-items main-grid">
            {% if posts %} {% for post in posts %} {% with loop_index = loop.index %} {% include 'card.html' %} {%
            endwith %} {% endfor %} {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
