{% extends "base.html" %} {% block body_contents %}

<div id="post">
    <!-- Left sidebar, just filler -->
    <div class="page-sidebar sidebar-left"></div>
    <div id="{{render_item.itemId}}" class="card item-card post-card">
        <div class="inner-card">
            <div class="card-header">
                <div class="card-user-info">
                    <div class="card-avatar tooltip">
                        {% if render_item.authors %} {% for author in render_item.authors %}
                        <div
                            class="avatar-photo"
                            style="background-color: rgb(246, 173, 97); position: absolute; left: {{(loop.index-1) * 50}}px"
                        >
                            {% if render_item.authors %}
                            <a href="{{'../' + author.tagLink}}">
                                <img
                                    src="{{'../images/thumb-' + author.profileImg}}"
                                    alt="{{author.name}}"
                                    class="post-author-img"
                                />
                            </a>
                            {% else %}
                            <div class="avatar-text">
                                <span aria-hidden="true" class="fa fa-user"></span>
                            </div>
                            {% endif %}

                            <span class="tooltiptext"> {{author.name}} </span>
                        </div>
                        {% endfor %} {% endif %}
                    </div>
                    <div
                        class="card-header-text"
                        style="padding-left: {{10 + (render_item.authors|length -1 ) * 60}}px"
                    >
                        <div class="card-author" style="font-size: 1.2em">
                            {% if render_item.authors %} {% for author in render_item.authors %}
                            <span>{% if loop.index > 1 %}, {% endif %}{{author.name}}</span>
                            {% endfor %} {% endif %}
                        </div>
                        <div class="card-date" style="font-size: 1.2em">
                            {% if render_item.dateString %} {{render_item.dateString}} {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h1 class="card-title">{{render_item.name}}</h1>
                <div class="card-body-text">
                    <p>{% if render_item.description %} {{render_item.description}} {% endif %}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="tags-area">
                    {% if render_item.tags %} {% for tag in render_item.tags %} {% if tag.tagLink %}
                    <div class="tag {{tag.tagClass}}">
                        <div class="tag-wrapper">
                            <div class="tag-text">
                                <span class="tag-name"><a href="{{'../' + tag.tagLink}}">{{tag.name}}</a></span>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Articles by the same author(s) -->
    <div class="page-sidebar sidebar-right">
        {% if render_item.authors %} {% for author in render_item.authors %}
        <div class="card sidebar-card">
            <h2 class="page-subheading page-subheading-{{loop.index}}">Other articles by {{author.name}}</h2>
            {% if author.articles %} {% for cardItem in author.articles %}
            <div
                class="sidebar-item-card-wrapper card-number-{{loop.index}} {% if loop.index > 2 %}hide{% else %}show{% endif %}"
            >
                {% include 'sidebar-item-card.html' %}
            </div>
            {% endfor %}
            <!-- Show more button, if there are more than 2 cards -->
            {% if author.articles|length > 2 %} {% include 'show-more-button.html' %} {% endif %} {% endif %}
        </div>
        {% endfor %} {% endif %}
        <!-- Other articles in issue -->
        {% if render_item.otherArticlesInIssue %} {% if render_item.otherArticlesInIssue.articles|length > 0 %}
        <div class="card sidebar-card">
            <h2 class="page-subheading page-subheading-1">
                Other articles in {{render_item.otherArticlesInIssue.issueName}}
            </h2>
            {% for cardItem in render_item.otherArticlesInIssue.articles %}
            <div
                class="sidebar-item-card-wrapper card-number-{{loop.index}} {% if loop.index > 2 %}hide{% else %}show{% endif %}"
            >
                {% include 'sidebar-item-card.html' %}
            </div>
            {% endfor %}
            <!-- Show more button, if there are more than 2 cards -->
            {% if render_item.otherArticlesInIssue.articles|length > 2 %} {% include 'show-more-button.html' %} {% endif
            %}
        </div>
        {% endif %} {% endif %}
        <div class="card sidebar-card">
            <h2 class="page-subheading page-subheading-1">Website supporters (external links)</h2>
            {% if render_item.supporters %} {% for cardItem in render_item.supporters %}
            <div class="sidebar-item-card-wrapper card-number-{{loop.index}}">
                {% include 'sidebar-item-card.html' %}
            </div>
            {% endfor %} {% endif %}
            <p class="page-sidebar-supporter-cta">
                Want to support this site? Email
                <a href="mailto:hello@dreamnetworkjournal.com">hello@dreamnetworkjournal.com</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
