<div class="sidebar-item-card">
    <div class="sidebar-item-card-img-wrapper">
        {% if cardItem.profileImg %}
        <a href="{{cardItem.url}}" target="{{cardItem.target}}" class="sidebar-item-card-img-link">
            <img src="{{'../images/' + cardItem.profileImg}}" alt="{{cardItem.name}}" />
        </a>
        {% endif %}
    </div>
    <p class="sidebar-item-card-text-wrapper">
        <a href="{{cardItem.url}}" target="{{cardItem.target}}"> {{cardItem.name}}</a>
        {% if cardItem.description %}
        <a href="{{cardItem.url}}" target="{{cardItem.target}}" class="sidebar-item-card-description">
            {{cardItem.description}}</a
        >
        {% endif %}
    </p>
</div>
