<div class="page-sidebar-author">
    <h2 class="page-subheading">Some other articles by {{author.name}}</h2>
    <div class="other-articles-area">
        {% if author.articles %} {% for cardItem in author.articles %} {% if loop.index <= 5 %}
        <div class="other-article-card card-{{loop.index}}">
            <div class="other-article-card-img-wrapper">
                {% if cardItem.profileImg %}
                <a
                    href="{{'../' + cardItem.itemId + '/' + cardItem.string_identifier}}"
                    class="other-article-card-img-link"
                >
                    <img src="{{'../images/' + cardItem.profileImg}}" alt="{{cardItem.name}}" />
                </a>
                {% endif %}
            </div>
            <p>
                <a href="{{'../' + cardItem.itemId + '/' + cardItem.string_identifier}}"> {{cardItem.name}} bye</a>
            </p>
        </div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>
