body {
    width: 100%;
    margin: 0px;
    font-family: "Lora", serif;
    background-color: rgb(240, 243, 247);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1.05em;
    line-height: 1.5rem;
}

p {
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

#wrapper {
    padding: 75px 0px 15px 15px;
}

.button-standard {
    justify-self: center;
    border-radius: 2px;
    width: auto;
    color: white;
    background-color: rgba(63, 139, 241, 0.7);
    padding: 7px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button-standard:hover {
    background-color: rgba(63, 139, 241, 0.9);
}
button:focus {
    outline: none;
}

button {
    border: none;
    background-color: inherit;
}

.highlight-box {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 16px 10px;
}

/*Mailchimp*/
#mc_embed_signup {
    background: #fff;
    clear: left;
}

/* Grid things */

/* Stop the grid getting too wide because the cards get small */
.featured-grid,
.main-grid {
    width: 100%;
    max-width: 1119px;
}

@media (max-width: 900px) {
    #wrapper {
        padding: 60px 0px;
    }
}
