#navbar {
  padding: 20px;
  background-color: white;
  width: 100%;
  height: 60px;
  color: white;
  box-shadow: 0 0 2px 1px rgba(140, 140, 140, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  position: fixed;
  z-index: 2;
}

#navbar-menu-items {
  display: flex;
  flex-direction: row;
}

#navbar-site-title {
  margin-left: 10px;
  color: #444;
  cursor: pointer;
}

#navbar-site-title:hover {
  color: black;
}

.navbar-icon {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#app-name-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-icon button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
}

#app-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#app-logo {
  height: 40px;
  width: auto;
}

#navbar-links {
  display: flex;
  align-items: center;
}

#navbar-links a {
  text-decoration: underline;
}

.navbar-item {
  margin-left: 10px;
  color: #444;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover {
  color: black;
}

@media (max-width: 400px) {
  #navbar-site-title {
    display: none;
  }
}
