/* Posts should not take up the whole screen */
#post .item-card {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: block;
}

#post .item-card p {
  font-family: Lora, serif;
  line-height: 1.4em;
}

#post .item-card li {
  font-family: Lora, serif;
  line-height: 1.4em;
}

#post .item-card pre {
  font-family: Lora, serif;
  line-height: 0.8em;
}

#post .caption {
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
}
