/* TAG */
.tag {
  /* border-radius: 2px; */
  width: auto;
  /* color: white;
   
    padding: 4px 7px;
    margin-right: 10px;
     */
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  /* font-weight: 500;
    -webkit-font-smoothing: antialiased; */
  /*  */
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: #444;
  font-size: 0.9rem;
  border: 1px solid #888;
  display: inline-block;
  font-weight: 400;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.tag a {
  text-decoration: none;
  color: inherit;
}

.tag-wrapper {
  display: flex;
  flex-direction: row;
}

.tag-options {
  display: flex;
  flex-direction: row;
}

.tag-icon {
}

.tag-icon-dropdown {
  padding: 3px 5px;
}

.tag-edit-input {
  margin-left: 5px;
}

.tag-text {
  margin-left: 6px;
  margin-right: 6px;
  padding: 3px;
}

.tag-description {
  border-radius: 3px;
  padding: 3px;
  text-transform: uppercase;
  font-size: 12px;
}

/* INPUT */
.tag-wrapper input {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  margin: 0 4px 0 1px;
  color: white;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.25rem;
  padding: 2px 5px;
  border-radius: 5px;
  height: 25px;
}

.tag-wrapper input:focus {
  outline: none;
}

.tag-wrapper *::placeholder {
  color: white;
  opacity: 0.7;
}

/* END TAG */
